@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
body {
  background: #df158425;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  height: 400px;
  padding-left: 70px;
  width: 300px;
  perspective: 0 200px;
  background: transparent;
  position: initial;
}

.Display {
  background: #ffffff;
  color: #000000;
  text-shadow: 0 0 5px rgba(8, 8, 8, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
  border-radius: 10px;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

.Button {
  background: #3e3f3e;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgb(255, 255, 255);
  height: 20%;
  min-width: 25%;
  border-radius: 50%;
}

.Button[data-size="2"] {
  height: 40%;
}

.Button[data-value="null"] {
  pointer-events: none;
}

.Button:hover {
  background: #d7ddd3;
  cursor: pointer;
  color: #000000;
}

.Button:active {
  background: #c1e4ac;
  color: #000000;
}

.Butn {
  background: #d88a32;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgb(0, 0, 0);
  height: 20%;
  min-width: 25%;
  border-radius: 50%;
}

.Butn[data-size="2"] {
  height: 40%;
}

.Butn[data-value="null"] {
  pointer-events: none;
}

.Butn:hover {
  background: #d7ddd3;
  cursor: pointer;
}

.Butn:active {
  background: #c1e4ac;
}
